.error{
  label{
    color:red;
  }
  select:focus, select, input:focus, input{
    border: 2px solid red;
  }
  select:focus, input:focus{
    box-shadow: 1px 1px 1px 1px red;
  }
}

.tulisan-error{
  color: red;
}

.form-error{
  border: 2px solid red;
}

.label-error{
  color:red;
}
