hr{
  margin: 5px 0;
  border: 0;
  width: 100%;
  border-top: 1px solid #2C3E50;
  &.dashed {
    border-top-style: dashed;
  }
}

#modal{
  cursor: pointer;
}

.m{
  margin:0 auto;
  float:none;
}

.mt20{
  margin-top: 20px;
}
.mb20{
  margin-bottom: 20px;
}
