$primary: #2C3E50;

.table-custom{
  thead th{
    background: $primary;
    color:white;
    text-align:center;
  }
  tbody{
      tr{
        .form{
          width: 110px;
        }
        .input-kuisioner{
          align: center;
          padding-left:20px;
        }
      }
  }
}

.action{
  width:130px;
}
.no{
  width:20px;
}

label{
  font-size: 18px;
}
